<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" type="text/css" href="./style2.css">
    <script type="text/javascript" src="./main.js"></script>
    <title>Local Fonts</title>
</head>

<body>
    <section class="container">
        <!-- <div class="card__container">
            <svg class="card__copy" xmlns="http://www.w3.org/2000/svg" width="14.154" height="16.388" viewBox="0 0 14.154 16.388">
                <path id="Icon_material-content-copy" data-name="Icon material-content-copy" d="M13.429,1.5H4.49A1.494,1.494,0,0,0,3,2.99V13.419H4.49V2.99h8.939Zm2.235,2.98H7.47A1.494,1.494,0,0,0,5.98,5.97V16.4a1.494,1.494,0,0,0,1.49,1.49h8.194a1.494,1.494,0,0,0,1.49-1.49V5.97A1.494,1.494,0,0,0,15.664,4.48Zm0,11.919H7.47V5.97h8.194Z" transform="translate(-3 -1.5)"/>
            </svg>

            <p class="font__name">[%FONT_NAME%]</p>
            <p class="font__owner">GOOGLE</p>
            <p class="font__Style" style="font-family: '[%FONT_FAMILY%]'">Almost before we knew it, we had left the ground.</p>
        </div> -->
        [%CARDS%]
    </section>
</body>

</html>